<% provide(:title, @college.name) %>

<h1> <%= @college.name %></h1>
<%= link_to "edit", edit_college_path(@college) %>

<% if current_user.admin? %>
  <%= render "courses/new" %>
<% end %>

<%= will_paginate @courses %>

<ul class="courses">
  <%= render @courses %>
</ul>

<%= will_paginate @courses %>